In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from IPython import display
import math

# import sys to get arguments from command line
import sys

csvFileName = "/home/donk/Documents/ENBW/schoenau_2017-2018.csv"

# read data from csv file
csvFile_In_DataFrame = pd.read_csv(csvFileName, sep=",")
# put data into numpy array
csvFile_In_NumpyArray = csvFile_In_DataFrame.values

# number of measurements
numberOfMeasurements = csvFile_In_NumpyArray[:,0].shape[0]
import numpy as np
import pandas as pd
from IPython import display

# import sys to get arguments from command line
import sys

csvFileName = "/home/donk/Documents/ENBW/schoenau_2017-2018.csv"

# read data from csv file
csvFile_In_DataFrame = pd.read_csv(csvFileName, sep=",")
# put data into numpy array
csvFile_In_NumpyArray = csvFile_In_DataFrame.values

# number of measurements
numberOfMeasurements = csvFile_In_NumpyArray[:,0].shape[0]

# value classification moto = 1., pkw = 2., bus = 3., lkw = 4.
typeOfVehicle = 2.

# count number of vehicles
typeCount = np.zeros(4)
for i in range(4):
    # i+1 gives the type of vehicle
    typeCount[i] = np.count_nonzero(
        (csvFile_In_NumpyArray[:,2]-(i+1)*np.ones(numberOfMeasurements))==0
        )

#print(typeCount, np.sum(typeCount), numberOfMeasurements)

#print(csvFile_In_DataFrame.head())
print(csvFile_In_DataFrame["value.timeStamp"].unique())

# value classification moto = 1., pkw = 2., bus = 3., lkw = 4.
typeOfVehicle = 2.

# count number of vehicles
typeCount = np.zeros(4)
for i in range(4):
    # i+1 gives the type of vehicle
    typeCount[i] = np.count_nonzero(
        (csvFile_In_NumpyArray[:,2]-(i+1)*np.ones(numberOfMeasurements))==0
        )

#print(typeCount, np.sum(typeCount), numberOfMeasurements)

#print(csvFile_In_DataFrame.head())
print(csvFile_In_DataFrame["value.timeStamp"].unique())

FileNotFoundError: File b'/home/donk/Documents/ENBW/schoenau_2017-2018.csv' does not exist

In [3]:
import numpy as np
import pandas as pd
from IPython import display

# import sys to get arguments from command line
import sys

csvFileName = "data/schoenau_2017-2018.csv"

# read data from csv file
csvFile_In_DataFrame = pd.read_csv(csvFileName, sep=",")
# put data into numpy array
csvFile_In_NumpyArray = csvFile_In_DataFrame.values

# number of measurements
numberOfMeasurements = csvFile_In_NumpyArray[:,0].shape[0]

# value classification moto = 1., pkw = 2., bus = 3., lkw = 4.
typeOfVehicle = 2.

# count number of vehicles
typeCount = np.zeros(4)
for i in range(4):
    # i+1 gives the type of vehicle
    typeCount[i] = np.count_nonzero(
        (csvFile_In_NumpyArray[:,2]-(i+1)*np.ones(numberOfMeasurements))==0
        )

#print(typeCount, np.sum(typeCount), numberOfMeasurements)

#print(csvFile_In_DataFrame.head())
print(csvFile_In_DataFrame["value.timeStamp"].unique())

['2018-08-01T22:01:43.207Z' '2018-08-01T21:54:35.110Z'
 '2018-08-01T20:59:09.542Z' ... '2017-12-01T04:40:58.547Z'
 '2017-12-01T04:16:09.706Z' '2017-12-01T04:04:28.752Z']

In [4]:
csvFile_In_DataFrame['value.timeStamp']

0          2018-08-01T22:01:43.207Z
1          2018-08-01T21:54:35.110Z
2          2018-08-01T20:59:09.542Z
3          2018-08-01T20:36:33.624Z
4          2018-08-01T19:55:50.115Z
5          2018-08-01T19:13:43.280Z
6          2018-08-01T19:13:42.348Z
7          2018-08-01T19:13:34.205Z
8          2018-08-01T19:13:18.528Z
9          2018-08-01T18:52:13.847Z
10         2018-08-01T18:26:08.204Z
11         2018-08-01T18:19:38.564Z
12         2018-08-01T18:16:09.181Z
13         2018-08-01T18:14:21.573Z
14         2018-08-01T17:59:45.720Z
15         2018-08-01T17:55:12.301Z
16         2018-08-01T17:46:14.040Z
17         2018-08-01T17:39:53.952Z
18         2018-08-01T17:37:13.275Z
19         2018-08-01T17:35:59.352Z
20         2018-08-01T17:33:10.142Z
21         2018-08-01T17:29:29.001Z
22         2018-08-01T17:25:28.793Z
23         2018-08-01T17:22:08.714Z
24         2018-08-01T17:16:33.281Z
25         2018-08-01T17:16:14.934Z
26         2018-08-01T17:13:59.373Z
27         2018-08-01T17:05:40.433Z
28         2018-08-01T17:04:13.218Z
29         2018-08-01T17:04:10.072Z
                     ...
1263975    2017-12-01T11:21:47.409Z
1263976    2017-12-01T11:09:39.379Z
1263977    2017-12-01T11:05:04.301Z
1263978    2017-12-01T10:49:57.718Z
1263979    2017-12-01T10:20:17.238Z
1263980    2017-12-01T10:16:32.571Z
1263981    2017-12-01T09:59:12.665Z
1263982    2017-12-01T09:21:05.753Z
1263983    2017-12-01T09:11:47.240Z
1263984    2017-12-01T08:29:19.636Z
1263985    2017-12-01T08:25:47.441Z
1263986    2017-12-01T08:23:28.897Z
1263987    2017-12-01T08:19:15.902Z
1263988    2017-12-01T08:10:03.229Z
1263989    2017-12-01T07:23:32.666Z
1263990    2017-12-01T07:10:05.949Z
1263991    2017-12-01T07:07:42.213Z
1263992    2017-12-01T06:45:38.040Z
1263993    2017-12-01T06:41:10.361Z
1263994    2017-12-01T06:36:56.931Z
1263995    2017-12-01T06:28:54.565Z
1263996    2017-12-01T06:06:36.909Z
1263997    2017-12-01T06:03:04.388Z
1263998    2017-12-01T05:55:35.462Z
1263999    2017-12-01T05:52:34.107Z
1264000    2017-12-01T05:51:29.768Z
1264001    2017-12-01T05:02:45.799Z
1264002    2017-12-01T04:40:58.547Z
1264003    2017-12-01T04:16:09.706Z
1264004    2017-12-01T04:04:28.752Z
Name: value.timeStamp, Length: 1264005, dtype: object

In [5]:
def weekDay(year, month, day):
    offset = [0, 31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334]
    week   = ['Sunday', 
              'Monday', 
              'Tuesday', 
              'Wednesday', 
              'Thursday',  
              'Friday', 
              'Saturday']
    afterFeb = 1
    if month > 2: afterFeb = 0
    aux = year - 1700 - afterFeb
    # dayOfWeek for 1700/1/1 = 5, Friday
    dayOfWeek  = 5
    # partial sum of days betweem current date and 1700/1/1
    dayOfWeek += (aux + afterFeb) * 365                  
    # leap year correction    
    dayOfWeek += aux / 4 - aux / 100 + (aux + 100) / 400     
    # sum monthly and day offsets
    dayOfWeek += offset[month - 1] + (day - 1)               
    dayOfWeek %= 7
    return int (dayOfWeek)

In [27]:
def data2day(times):
    month = np.zeros((len(times),)); weekday = np.zeros((len(times),)); time_point = np.zeros((len(times),)); year = np.zeros((len(times),))
    for idx,time in enumerate(tqdm(times)):
        date = (time[:10])
        month[idx] = int(date[5:7])
        year[idx] = int(date[8:])
        weekday[idx] = weekDay(int(date[0:4]), int(date[5:7]), int(date[8:10]))
        time_point[idx] = int(time[11:13])
        
    return weekday, time_point, month, year

In [28]:
weekday, time_point, month, day = data2day(csvFile_In_DataFrame['value.timeStamp'])

100%|██████████| 1264005/1264005 [00:05<00:00, 250397.87it/s]

In [29]:
def get_bins(bincount, daytime, dataset):
    for i in range (len(bincount)):
        daytime[]

SyntaxError: invalid syntax (<ipython-input-29-9b6b34488c8c>, line 3)

In [30]:
print(day[:10])

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [12]:
def binnify(data ):
    count  = np.max(matrix[0])
    bin_count = 5854
    bin_time  =

SyntaxError: invalid syntax (<ipython-input-12-07ad1e2e09c1>, line 4)

In [77]:
csvFile_In_DataFrame['h'] = time_point
csvFile_In_DataFrame['y'] = year
csvFile_In_DataFrame['m'] = month
csvFile_In_DataFrame['d'] = day

In [32]:
csvFile_In_DataFrame.head()

,value.timeStamp,sensorType,value.classification,value.confidence,value.detectorZone,value.gapTime,value.length,value.speed,h,y,m,d
0,2018-08-01T22:01:43.207Z,trafficCam,1,9,1,2846,15,26,22.0,2018.0,8.0,1.0
1,2018-08-01T21:54:35.110Z,trafficCam,1,8,1,908,18,33,21.0,2018.0,8.0,1.0
2,2018-08-01T20:59:09.542Z,trafficCam,1,9,1,400,15,41,20.0,2018.0,8.0,1.0
3,2018-08-01T20:36:33.624Z,trafficCam,1,7,1,108,22,34,20.0,2018.0,8.0,1.0
4,2018-08-01T19:55:50.115Z,trafficCam,1,10,1,460,22,28,19.0,2018.0,8.0,1.0

In [78]:
d1 = csvFile_In_DataFrame[csvFile_In_DataFrame['value.confidence'] > 5]

In [82]:
d1.head()

,value.timeStamp,sensorType,value.classification,value.confidence,value.detectorZone,value.gapTime,value.length,value.speed,h,y,m,d
0,2018-08-01T22:01:43.207Z,trafficCam,1,9,1,2846,15,26,22.0,2018.0,8.0,1.0
1,2018-08-01T21:54:35.110Z,trafficCam,1,8,1,908,18,33,21.0,2018.0,8.0,1.0
2,2018-08-01T20:59:09.542Z,trafficCam,1,9,1,400,15,41,20.0,2018.0,8.0,1.0
3,2018-08-01T20:36:33.624Z,trafficCam,1,7,1,108,22,34,20.0,2018.0,8.0,1.0
4,2018-08-01T19:55:50.115Z,trafficCam,1,10,1,460,22,28,19.0,2018.0,8.0,1.0

In [96]:
data = d1[['value.timeStamp','value.classification', 'value.gapTime', 'value.speed','h', 'y', 'm', 'd']]
data.head()

,value.timeStamp,value.classification,value.gapTime,value.speed,h,y,m,d
0,2018-08-01T22:01:43.207Z,1,2846,26,22.0,2018.0,8.0,1.0
1,2018-08-01T21:54:35.110Z,1,908,33,21.0,2018.0,8.0,1.0
2,2018-08-01T20:59:09.542Z,1,400,41,20.0,2018.0,8.0,1.0
3,2018-08-01T20:36:33.624Z,1,108,34,20.0,2018.0,8.0,1.0
4,2018-08-01T19:55:50.115Z,1,460,28,19.0,2018.0,8.0,1.0

In [123]:
grouped = data.groupby(['y', 'm', 'd', 'h', 'value.classification'])

In [99]:
len(grouped)

20972

In [100]:
evaluate = grouped.describe()

In [103]:
evaluate.head(20)

                                         value.gapTime                \
                                                 count          mean
y      m    d   h   value.classification
2017.0 12.0 1.0 0.0 2                              7.0   9023.285714
                1.0 1                              2.0   1580.000000
                    2                              7.0  12336.142857
                2.0 1                              1.0   8388.000000
                    2                             10.0   6648.900000
                3.0 1                              6.0    943.500000
                    2                             20.0   3019.300000
                    3                              3.0   2713.666667
                4.0 1                             18.0    708.833333
                    2                             94.0    535.159574
                    3                              7.0    328.571429
                    4                              6.0   1154.500000
                5.0 1                             42.0    215.928571
                    2                            239.0    225.983264
                    3                             20.0    259.850000
                    4                              7.0    443.714286
                6.0 1                             56.0    139.285714
                    2                            303.0    183.732673
                    3                             22.0    259.545455
                    4                              8.0    246.625000

                                                                        \
                                                  std     min      25%
y      m    d   h   value.classification
2017.0 12.0 1.0 0.0 2                     6631.550239  2268.0  5492.50
                1.0 1                     1282.691701   673.0  1126.50
                    2                     8056.599229  3180.0  6928.00
                2.0 1                             NaN  8388.0  8388.00
                    2                     5077.636577  2182.0  2613.00
                3.0 1                      804.028047    47.0   321.25
                    2                     4717.537472    84.0   920.00
                    3                     3208.334199   677.0   864.50
                4.0 1                     1302.256921    10.0   115.50
                    2                      760.911625    13.0   135.50
                    3                      460.744997    14.0    26.00
                    4                      939.174904   236.0   500.50
                5.0 1                      232.755854     3.0    33.00
                    2                      305.330252     7.0    27.50
                    3                      303.603841     4.0    86.75
                    4                      231.547486   223.0   308.50
                6.0 1                      170.253150     2.0    22.00
                    2                      210.149815     3.0    24.00
                    3                      235.041177    10.0   108.75
                    4                      213.536171     0.0   128.50

                                                                      \
                                              50%       75%      max
y      m    d   h   value.classification
2017.0 12.0 1.0 0.0 2                      6177.0  10658.00  22417.0
                1.0 1                      1580.0   2033.50   2487.0
                    2                     10876.0  16466.00  25509.0
                2.0 1                      8388.0   8388.00   8388.0
                    2                      5284.0   8777.75  17231.0
                3.0 1                       873.0   1426.25   2120.0
                    2                      1663.0   3347.75  20896.0
                    3                      1052.0   3732.00   6412.0
                4.0 1                       342.0    839.75   5728.0
                    2                       315.5    645.75   5590.0
                    3                       103.0    540.50   1050.0
                    4                       803.5   1908.25   2408.0
                5.0 1                       129.5    358.75    918.0
                    2                        90.0    298.00   1678.0
                    3                       112.5    330.75   1136.0
                    4                       421.0    462.00    921.0
                6.0 1                        76.0    178.50    732.0
                    2                        96.0    283.00   1346.0
                    3                       187.5    322.50    852.0
                    4                       205.0    304.75    688.0

                                         value.speed                        \
                                               count       mean        std
y      m    d   h   value.classification
2017.0 12.0 1.0 0.0 2                            7.0  44.142857  10.040395
                1.0 1                            2.0  32.000000  15.556349
                    2                            7.0  46.571429   7.546680
                2.0 1                            1.0  40.000000        NaN
                    2                           10.0  43.000000   4.109609
                3.0 1                            6.0  45.000000  13.236314
                    2                           20.0  45.850000   4.068816
                    3                            3.0  43.333333   0.577350
                4.0 1                           18.0  43.000000   5.541289
                    2                           94.0  44.010638   7.026057
                    3                            7.0  43.714286  13.585707
                    4                            6.0  41.500000  12.533954
                5.0 1                           42.0  39.190476   9.833338
                    2                          239.0  41.255230   6.464327
                    3                           20.0  42.500000   7.626132
                    4                            7.0  35.142857   8.820971
                6.0 1                           56.0  38.642857   8.044035
                    2                          303.0  39.475248   5.245485
                    3                           22.0  41.863636  13.134090
                    4                            8.0  32.375000   3.889087


                                           min   25%   50%    75%   max
y      m    d   h   value.classification
2017.0 12.0 1.0 0.0 2                     36.0  39.0  42.0  43.50  66.0
                1.0 1                     21.0  26.5  32.0  37.50  43.0
                    2                     36.0  42.0  47.0  51.50  56.0
                2.0 1                     40.0  40.0  40.0  40.00  40.0
                    2                     36.0  40.5  44.5  46.50  47.0
                3.0 1                     19.0  46.5  48.0  52.50  55.0
                    2                     39.0  42.0  47.0  48.25  53.0
                    3                     43.0  43.0  43.0  43.50  44.0
                4.0 1                     32.0  39.5  44.5  46.50  52.0
                    2                     27.0  41.0  44.0  48.00  75.0
                    3                     27.0  37.5  38.0  51.00  64.0
                    4                     35.0  36.0  36.5  37.75  67.0
                5.0 1                     21.0  31.0  40.5  45.00  70.0
                    2                     21.0  38.0  42.0  45.50  56.0
                    3                     24.0  39.0  42.5  47.25  57.0
                    4                     23.0  27.5  41.0  42.00  43.0
                6.0 1                     24.0  35.0  38.5  42.25  77.0
                    2                     21.0  37.0  40.0  43.00  55.0
                    3                     34.0  36.0  40.0  42.00  98.0
                    4                     24.0  32.0  33.0  33.25  38.0

In [136]:
for row in evaluate:
    print(row)

('value.gapTime', 'count')
('value.gapTime', 'mean')
('value.gapTime', 'std')
('value.gapTime', 'min')
('value.gapTime', '25%')
('value.gapTime', '50%')
('value.gapTime', '75%')
('value.gapTime', 'max')
('value.speed', 'count')
('value.speed', 'mean')
('value.speed', 'std')
('value.speed', 'min')
('value.speed', '25%')
('value.speed', '50%')
('value.speed', '75%')
('value.speed', 'max')

In [137]:
evaluate.to_csv('pandas.csv')

In [107]:
print(evaluate.keys())

MultiIndex(levels=[['value.gapTime', 'value.speed'], ['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]])

In [108]:
print(evaluate[''])

value.gapTime  count    20972
               mean     20972
               std      19225
               min      20972
               25%      20972
               50%      20972
               75%      20972
               max      20972
value.speed    count    20972
               mean     20972
               std      19225
               min      20972
               25%      20972
               50%      20972
               75%      20972
               max      20972
dtype: int64

In [112]:
print(evaluate.values[:,0])

[7. 2. 7. ... 1. 9. 1.]

In [130]:
use = evaluate['value.gapTime']['count']

In [133]:
print(type(use))

<class 'pandas.core.series.Series'>

In [135]:
print(use['2017'])

KeyError: '2017'

In [125]:


bins = pd.date_range(start='2018-01-01', end = '2018-01-02', freq='H')

In [126]:
print(bins)
print(bins.time)

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               '2018-01-01 10:00:00', '2018-01-01 11:00:00',
               '2018-01-01 12:00:00', '2018-01-01 13:00:00',
               '2018-01-01 14:00:00', '2018-01-01 15:00:00',
               '2018-01-01 16:00:00', '2018-01-01 17:00:00',
               '2018-01-01 18:00:00', '2018-01-01 19:00:00',
               '2018-01-01 20:00:00', '2018-01-01 21:00:00',
               '2018-01-01 22:00:00', '2018-01-01 23:00:00',
               '2018-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')
[datetime.time(0, 0) datetime.time(1, 0) datetime.time(2, 0)
 datetime.time(3, 0) datetime.time(4, 0) datetime.time(5, 0)
 datetime.time(6, 0) datetime.time(7, 0) datetime.time(8, 0)
 datetime.time(9, 0) datetime.time(10, 0) datetime.time(11, 0)
 datetime.time(12, 0) datetime.time(13, 0) datetime.time(14, 0)
 datetime.time(15, 0) datetime.time(16, 0) datetime.time(17, 0)
 datetime.time(18, 0) datetime.time(19, 0) datetime.time(20, 0)
 datetime.time(21, 0) datetime.time(22, 0) datetime.time(23, 0)
 datetime.time(0, 0)]

In [45]:
print (len(bins))

25

In [44]:
print(csvFile_In_DataFrame["value.timeStamp"].head())

0    2018-08-01T22:01:43.207Z
1    2018-08-01T21:54:35.110Z
2    2018-08-01T20:59:09.542Z
3    2018-08-01T20:36:33.624Z
4    2018-08-01T19:55:50.115Z
Name: value.timeStamp, dtype: object

In [59]:
experiment = pd.date_range(start=csvFile_In_DataFrame["value.timeStamp"][-1], end = csvFile_In_DataFrame["value.timeStamp"][0], freq='H')

KeyError: -1

In [63]:
print(csvFile_In_DataFrame["value.timeStamp"][:1])

0    2018-08-01T22:01:43.207Z
Name: value.timeStamp, dtype: object